*{
    /* box-sizing: border-box; */
}
body{
    background: #f2f2f2;
}

.navbar{
    padding-left:15%;
}

.navbar-nav{
    margin-left: 10%;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.navbar-light .navbar-nav .nav-link.active{
    color: #3180cf;
}

.nav-item{
    padding-right: 50px;
    margin-top: 15px;
}

.link-icon{
    margin-left: 15px;
}

#search{
    width: 80%;
    color: #fff;
    background: #3180cf;
    padding: 5px;
    border: 1px solid #3180cf;
    float: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#search::placeholder{
    color: #fff;
    padding-left: 5px;
}

#searchbtn{
    width: 20%;
    float: left;
    padding: 5px;
    border: 1px solid #3180cf;
    background-color: #3180cf;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

#form{
    width: 250px;
}

#top{
    background: url(../img/livroom.jpg);
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#header{
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 30px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
    background-color: #fff;
}

.image-cropper{
    margin: auto;
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #fff;
}

#user{
    position: relative;
    bottom:70px;
}

#me{
    /* margin: 0 auto; */
    height: auto;
    width: 100%;
}

#name{
    padding-top: 30px;
}

#bio{
    margin-bottom: 30px;
}

#firsthr{
    width: 90%;
    border-top: 0.5px solid rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    margin-bottom: 30px;
}

.info{
    text-align: center;
    background: #3180cf;
    color: #fff;
}

/* #subtitle1{
    background: rgb(3, 134, 185)
} */

.img-thumbnail{
    padding: 0;
    border: none;
    border-radius: 0;
    /* height: 200px;
    width: 100%; */
}

.imgs{
    height: 200px;
    width: 100%;
}

.highlights{
    margin: 0;
    padding:0;
}

.info2{
    border: 1px solid #000;
    padding-top: 20px;
    padding-left: 10px;
}

.stats{
    color: #3180cf;
}

.info3{
    border: 1px solid #000;
}

.info2, .info3{
    background-color: #fff;
}

#comp{
    margin-bottom: 0;
    font-size: 18px;
    padding-top: 15px;
}

#secondhr{
    margin-top: 0;
}

#nano{
    margin-bottom: 30px;
}

.news{
    margin-left: 15px;
}

#activities{
    margin-top: 30px;
    border: 1px solid #000;
    padding: 30px;
    margin-bottom: 30px;
    background-color: #fff;
}

#area{
    width: 100%;
    padding: 20px;
}

#area::placeholder{
    padding: 20px;
}

.navbtn{
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    padding: 8px;
    border-right: 1px solid #fff;
    cursor: pointer;
}

#bar{
    background: #3180cf;
    margin-bottom: 30px;
}

.special{
    width: 100px;
}

.avatar{
    border-radius: 50%;
}

.username{
    color: #3180cf;
    font-weight: bold;
}

.poster{
    display: inline-block;
    position: relative;
    top: 15px;
}

.writeup{
    margin-top: 30px;
}

.post{
    background-color: #fff;
    margin-left: 18px;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.likes{
    color: #3180cf;
    font-size: 20px;
    margin-top: 10px;
}

.reaction{
    font-size: 20px;
    margin-right: 55px;
    cursor: pointer;
}

.reactiontots{
    float: right;
    margin-left: 20px;
}

.trend{
    border: 1px solid #000;
    background-color: #fff;
    margin-left: 80px;
    margin-bottom: 50px;
    padding: 50px;
}

.topic{
    font-weight: bold;
    /* padding-top: 30px; */
}

.topics{
    padding-top: 30px;
}

@media (max-width: 1024px){
    .info, .info2{
        margin-bottom: 30px;
    }

    .stats{
        text-align: center;
    }

    .special{
        width:60px;
    }

    .post{
        margin-left: 0;
    }

    .trend{
        margin-left: 0;
    }

    .pic{
        margin-bottom: 30px;
    }

    .news{
        margin-left: 0;
    }

    .reactiontots{
        margin-left: 10px;
    }

}